<div>
    <div id="main">
        <div class="main-contents">
            <div class="sidebar">
                <div class="entities">
                    {{> folder-tree-partial}}
                </div>
            </div>
            <div class="page-content with-sidebar"></div>
        </div>
    </div>
</div>
