html {
    height: 100%;
    width: 100%;
}

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
}

nav.navbar {
    height: 50px;
    z-index: 40;
    margin-bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease-in-out;
    li {
        cursor: pointer;
    }
    .navbar-toggle .icon-bar {
        background-color: #337ab7;
    }
    @include respond-to($except-phone) {
        .navbar-nav {
            float: right;
            li a:hover {
                border-bottom: 2px solid #42b983;
            }
        }
        .active {
            border-bottom: 2px solid #42b983;
        }
    }
    @include respond-to($tablet-portrait) {
        .navbar {
            .navbar-collapse {
                background-color: #fff;
                z-index: 30;
            }
        }
        .container {
            background-color: #fff;
        }
        .active {
            background-color: #ccc;
        }
    }
    .logo-nav {
        padding: 0
    }
    img.logo {
        display: inline;
        padding: 10px;
    }
}


.main-wrap {
    opacity: 0;
    top: 50px;
    position: relative;
    overflow: hidden;
    @include sidebar;
    .main-contents {
        overflow: hidden;
        .transform180 {
            transform: rotateX(180deg);
        }
    }
}

.go-top-btn {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px; // width: 32px;
    height: 40px;
    cursor: pointer;
    z-index: 101;
    i {
        color: #337ab7;
        font-size: 48px; // margin-left: 8px;
    }
    i:hover {
        // @include opacity(.8);
        line-height: 45px;
        -moz-box-shadow: 0px -4px 0px 0px #337ab7;
        -webkit-box-shadow: 0px -4px 0px 0px #337ab7;
        box-shadow: 0px -4px 0px 0px #337ab7;
    }
    i:active {}
}

.throb {
    border: 3px solid #555;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-border-radius: 50%;
    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;
    -moz-border-radius: 50%;
    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-border-radius: 50%;
    -o-animation: pulsate 2s ease-out;
    -o-animation-iteration-count: infinite;
    border-radius: 50%;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 999;
}
