.examples-page {
    @include respond-to($phone) {
        .page-content {
            left: 0;
            top: 50px;
            width: 100%;
            .ace_content {
                height: 99%;
            }
        }
    }

    .page-content {
        overflow: hidden;
        position: relative;
        .doc-img img {
            width: 100%;
        }
        .jotted {
            height: 100%;
            width: 100%;
        }
    }
    .iframe {
        margin: 0 auto;
    }
}
