.guide-page {
    .page-content {
        @include doc-style;
        overflow: hidden;
        position: relative;
        max-width: 600px;
        .doc-img img {
            width: 100%;
        }
    }
}
